MONGODB_URI= # mongodb_connection_string_here

# Insert info from database here
DB_NAME=
COLLECTION_NAME=

#Default is set to Ollama
MODEL_TYPE= # "CLOUD" or "LOCAL"

# Default uses Ollama LLM, can run without cloud
OPENAI_API_KEY=

# FASTAPI URL
VITE_API_URL= # http://localhost:8000
